* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #555;
    font-family: Open Tahoma;
    font-size: 50px;
    text-align: center;
    position: relative;
    height: 100vh;
    font-weight: 400;
}
.cabecero {
    vertical-align: middle;
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #fff;
    background: url(fondo.png), #7b4397;
    background: url(fondo.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(fondo.png), linear-gradient(to left, #7b4397, #dc2430)
}
.login {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
.estilo_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}
.espacios { 
    width: 400px;
}
